services:
  streamvix-addon:
    build:
      context: /home/pi/vix
      dockerfile: Dockerfile
      args:
        GIT_REPO_URL: $${GIT_REPO_URL:https://github.com/emaschi5/StreamViX.git}
        GIT_BRANCH: $${GIT_BRANCH:-main}
    environment:
      TMDB_API_KEY: ""
    ports:
      - "7860:7860"
    env_file:
      - blob/main/.env
    command: pnpm start
    restart: unless-stopped
